  <div class="row">
    <div class="col s12">
      <h5><em>Criminal Search</em></h5>
      <%= form_with url: search_path, method: :get, class: "form-inline", id: "search" do %>
        <%= text_field_tag 'query', '', placeholder: "Search ..." %>
      <% end %>

    </div>
  </div>
  