<div class="card">
  <div class="card-content">
    <h5><center>UNIT PERFORMANCE</center></h5><br />
    
    <table class="lined">
      <thead>
        <th>Officer</th>
        <th>No. of Cases</th>
        <th>Cases Completed</th>
        <th>Case Completion Rate</th>
      </thead>
        <% for officer in @unit_officers %>
          <tr>
            <td>
              <%= link_to officer.name, officer_path(officer) %>
            </td>
            <td><%= officer.investigations.size  %></td>
            <td><%= officer.investigations.was_solved.size %></td>
            <% if officer.investigations.size == 0 %>
                <td> NA </td>
            <% else %>
                <td><%= number_to_percentage(((officer.investigations.was_solved.size.to_f/officer.investigations.size.to_f)*100.0), precision:1) %></td>
            <% end %>
          </tr>
        <% end %>
    </table>
  </div>
</div>