<div class="row">    
  <div class="col s10">
    <div class="card">
      <div class="card-content">
        <%= image_tag 'Gotham_Police_MCU_200x200.jpg', class: 'img_left' %>
        <span class="card-title"> About GCPD's Crime Tracking System </span>
        <p style = "text-align: justify">
          As we all know, the crime situation at Gotham City is tough, but the 
          officers in our police department are <b> EVEN TOUGHER </b>. This new crime 
          tracking system will be a formidable weapon in our arsenal to deal with
          nuisances like "The Joker" and in the process restore peace and 
          tranquility to our city
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

