<div class="row">    
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>Contacting GCPD Administrator</em></span>
        <p>Snarky comments to follow regarding the admin support team...
        </p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Contact</span>
        <table cellpadding="3">
          <tr>
            <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
            <td>Professor Larry Heimann</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
            <%= mail_to("profh@cmu.edu", "Klingon Code Warrior*", encode: "javascript") %> 
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>412-268-8211</td>
          </tr>
        </table>
        <p >*I am a professor of information systems at Carnegie Mellon 
          University and this nickname was a little running joke between myself and my 
          students that I adopted as my signature for my programming work.&nbsp;&nbsp;&nbsp; 
          <em>... in truth I am only half-Klingon.</em></p>
      </div>
    </div>
  </div>
</div>