<div class="row">
  <h4>Welcome to the GCPD Crime Tracking System</h4>
  <div class="col s8">
    <div class="card ">
      <div class="card-content">
        <p>This is the most amazing crime tracker ever and the 
          Gotham City Police Department is proud to be the owner 
          of this great software.  Hopefully we will be able to 
          do a better job fighting crime so that the Dark Knight's 
          services are no longer needed.</p>
        </br>
        <p>
           The links below will tell you more about the system's functionalities 
           and policies.
        </p>
      </div>
    </div>
  </div>
</div>