<div class="row">    
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>The GCPD Privacy Policy</em></span>
        <p>Our privacy policy is simple and does not require a lawyer 
          to understand it.  
          Any GCPD officer has no expectation of privacy in our system.  We are
          constantly collecting every scrap of information that may prove valuable, 
          even on the private lives of our officers.  (For instance, we know 
          you wear bunny slippers at home; don't bother with the denials.)
          Although we do limit other officers' access to data on their fellow 
          officers, we are not accountable for any violations.  
          <br><br>
          As for the private 
          citizens that we track as potential criminals, if both Bush and Obama got 
          away with collecting obscene amounts of information on private citizens, 
          then we don't feel bad and expect to get away with it just as both these 
          men did.  Whether you are from the right (Bush) or left (Obama), we don't 
          want to hear hypocritical complaints about us when you turned a blind eye 
          to what these two men did during each of their two terms as President.
          <br><br>
          Our policy is really that simple.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>