<% unless @cases.empty? %>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Suspect History</span>
      <table class="lined">
        <thead>
          <th>Case</th>
          <th>Is a Suspect?</th>
        </thead>
          <% for investigation in @cases %>
            <tr>
              <td>&nbsp;<%= link_to investigation.title, investigation_path(investigation) %></td>
              <td><%= @criminal.suspects.where(investigation: investigation).nil? ? "Yes" : "No" %></td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
<% end%>
<br />