<div id="tabbed">
  <tabs>

    <tab name="normal criminals" v-bind:selected="true">
      <%= render :partial => "criminal_list", locals: {criminals: @normal_criminals, state: 'normal'} %>
    </tab>

    <tab name="enhanced criminals">
      <%= render :partial => "criminal_list", locals: {criminals: @enhanced_criminals, state: 'enhanced'} %>
    </tab>

  </tabs>
</div>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'criminal'} %>